/* Top Bar */
    /* Logo */ 
    .top-bar {
        overflow: hidden;
        width: 100%;
        height: 65px;
        background-color: #53301A;
        color: #ccb179;
        font-weight: bold;
        text-align: center;
    }

    .top-bar-logo {
        float: left;
        width: 20%;
        height: 100%;
        line-height: 65px;
    }

    .top-bar-logo-position { /* Position and size */
		margin-left: 2%;
		margin-right: 5%;
        display: block;
        float: left;
        width: 20%;
        height: 100%;
    }

    .top-bar-logo-text {
        display: table-cell;
        text-align: center;
        text-decoration: none;
        color: #ccb179;
    }

    .top-bar-logo:hover {
        background-color: #522507;
    }

    /* End of Logo */

    /* Search Bar */
    
    .top-bar-search {
        float: left;
        width: 65%;
        height: 65px;
        line-height: 65px;
    }

    input[type=text] { /* Format of search bar */
        width: 50%;
        height: 40px;
        box-sizing: border-box;
        border: 3px solid #ccb179;
        font-size: 16px;
        background-color: #53301A;
		background-image: url("img/Lupa3.jpg");
		background-repeat: no-repeat;
		background-position: 10px 5px;
        padding: 1% 3% 1% 40px;
    }
    
    ::placeholder { /* Text inside Search bar */
        font-weight: bold;
        color: #ccb179;
    }

    /* End of Search Bar */

    /* Buttons of Login and Cart */
    .top-bar-buttons {
        float: left;
        width: 15%;
        height: 65px;
        line-height: 65px;
        vertical-align: middle;
    }

    .top-bar-buttons-login {
        width: 40px;
        height: 40px;
		line-height: 65px;
        vertical-align: middle;
    }

    .top-bar-buttons-cart {
		margin-left: 10%;
        width: 40px;
        height: 40px;
		line-height: 65px;
        vertical-align: middle;
    }

    /* End of buttons */
/* End of Top Bar */

/* Menu Bar */

    .menu-bar {
        width: 100%;
        height: 115px;
        background-color: #ccb179;
    }

    .menu-bar-categories {
        float: left;
        width: 25%;
        height: 100%;
    }

    .menu-bar-categories:hover {
        background-color: #b59d66;
    }
    
    .socialnetwork-images {
        height: 32px;
        width: 32px;
    }
    
    .images-position {
        display: block;
        margin: auto;
        margin-top: 2%;
        width: 70px;
        height: 70px;
    }

    .text-position {
        margin-top: 2%;
        color: #53301A;
        font-weight: bold;
        text-align: center;
    }


/* End of Menu Bar */



/* Creating default margins */

body {
    margin: 0%;
    background-color: #efe4b0;
    font-size: 18px;
}