/* Background right and left */

	.background-right {
		position: fixed;
		top: 0%;
		right: 0%;
		width: 15%;
		height: 100%;
		background-image: url("img/background/library-right.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}
	
	.background-left {
		position: fixed;
		top: 0%;
		left: 0%;
		width: 15%;
		height: 100%;
		background-image: url("img/background/library-left.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}
	
/* Top Bar */
    /* Logo */ 
    .top-bar {
        width: 100%;
        height: 65px;
		max-height: 65px;
        background-color: #53301A;
        color: #ccb179;
        font-weight: bold;
        text-align: center;
    }

    .top-bar-logo {
        float: left;
        width: 25%;
        height: 100%;
    }

    .top-bar-logo-position { /* Position and size */
	    line-height: 65px;
		margin-left: 2%;
        display: block;
        float: left;
        width: 20%;
		min-width: 65px;
        height: 100%;
    }

    .top-bar-logo-text {
        text-align: center;
        text-decoration: none;
        color: #ccb179;
    }

    .top-bar-logo:hover {
        background-color: #522507;
    }

    /* End of Logo */

    /* Search Bar */
    
    .top-bar-search {
        float: left;
        width: 55%;
        height: 65px;
        line-height: 65px;
    }

    input[type=text] { /* Format of search bar */
        width: 50%;
        height: 40px;
        box-sizing: border-box;
        border: 3px solid #ccb179;
        font-size: 16px;
        background-color: #53301A;
		background-image: url("img/Lupa3.jpg");
		background-repeat: no-repeat;
		background-position: 10px 5px;
        padding: 1% 3% 1% 40px;
    }
    
    ::placeholder { /* Text inside Search bar */
        font-weight: bold;
        color: #ccb179;
    }

    /* End of Search Bar */

    /* Buttons of Login and Cart */
    .top-bar-buttons {
        float: left;
        width: 20%;
        height: 65px;
        line-height: 65px;
        vertical-align: middle;
    }

    .top-bar-buttons-login {
        width: 40px;
        height: 40px;
		line-height: 65px;
        vertical-align: middle;
    }

        .login-dropdown {
            position: relative;
            display: inline-block;
        }

        .login-dropdown-content {
            display: none;
            position: absolute;
            background-color: #ccb179;
            width: 110px;
            height: 40px;
            z-index: 1;
            opacity: 0.9;
            top: 55px;
        }

        .login-drop-content-links { /*Links inside dropdown */
            display: block;
            color: #53301A;
            font-weight: bold;
            line-height: 18px;
            border: 1px solid black;
            font-size: 14px;
            text-decoration: none;
        }

        .login-dropdown:hover .login-dropdown-content {
            display: block;
        }

        .login-drop-content-links:hover {
            background-color: #b59d66;        
        }

    .top-bar-buttons-cart {
		margin-left: 10%;
        width: 40px;
        height: 40px;
		line-height: 65px;
        vertical-align: middle;
    }

    /* End of buttons */
/* End of Top Bar */

/* Menu Bar */

    .menu-bar {
        width: 100%;
        height: 105px;
        background-color: #ccb179;
    }

	.menu-bar a { /* To remove the underline of Categories */
		text-decoration: none;
	}
	
    .menu-bar-categories {
        float: left;
        width: 25%;
        height: 100%;
    }
	
	/* Drop Menu */
		.drop-menu { /* To adjust the dropdown menu */
			position: relative;
			display: block;
		}
		
		.drop-content {
			display: none;
			position: absolute;
			top: 105px; /* So it will be right under the menu */
			background-color: #ccb179;
			min-width: 60%;
			z-index: 1; /* To show itself over other items */
		}

		.drop-content-links { /*Links inside dropdown */
			padding: 3% 2%;
			color: #53301A;
			font-weight: bold;
			text-decoration: none;
			display: block;
		}
		
		.drop-content a:hover { /* Change on hover */
			background-color: #b59d66;
		}
		
		.drop-menu:hover .drop-content { /* Display the menu */
			display: block;
		}
	/* End of Drop Menu */
	
    .menu-bar-categories:hover {
        background-color: #b59d66;
    }
    
    .socialnetwork-images {
        height: 30px;
        width: 32px;
    }
    
    .images-position {
        display: block;
        margin: auto;
        margin-top: 2%;
        width: 70px;
        height: 70px;
    }

    .text-position {
        margin-top: 2%;
		margin-bottom: 1%;
        color: #53301A;
        font-weight: bold;
        text-align: center;
    }

/* End of Menu Bar */


/* Start of Books */

.book-rows {
    width: 95%;
    height: 45%;
    margin-top: 1.2%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #ccb179;
    border-radius: 10px;
    overflow: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.book {
    position: relative;
    width: 17.5%;
    margin-left: 2.5%;
    margin-top: 1%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

.book img {
    display: block;
    width: 100%;
    height: 70%;
}

.names-books {
    text-overflow: ellipsis;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    display: block;
    font-size: 12px;
    margin-top: 2%;
    color: black;
    font-weight: bold;
}

.discount-books {
    position: absolute;
    top: 0;
    right: 0;
    border: 3px solid red;
    font-weight: bold;
    background-color: red;
    border-color: black;
    border-radius: 50%;
    padding: 2%;
}

.price-books {
    display: block;
    text-align: right;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.price-books-discount-before {
    display: block;
    text-align: right;
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-decoration-line: line-through;
    opacity: 0.6;
    float: right;
    margin-left: 2%;
}

.price-books-discount {
    display: block;
    text-align: right;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.buy-books {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 10%;
    border-radius: 10px;
    margin-top: 3%;
    cursor: pointer;
    color: #ccb179;
    font-weight: bold;
    border-color: #522507;
    background-color: #522507;
}

.buy-books:hover {
    background-color: #ccb179;
    color: #522507;
}

.books-titles {
    padding: 5% 5% 5% 40px;
    color: #522507;
    font-weight: bold;
}

.space { /* Space for the end of books  */
    width: 100%;
    height: 5%;
}


a {
    text-decoration: none;
    color: black;
}

/* End of Books */


/* Creating default margins */

body{
	margin: 0%;
    margin-left: 15%;
	margin-right: 15%;
    background-color: #efe4b0;
    font-size: 18px;
	height: 100%;
}

html {
	height: 100%;
	margin: 0%;
}

.welcome-message {
    position: absolute;
    margin: auto;
    width: 120px;
    top: 0;
    bottom: 10;
    left: 50;
    right: 0;
    margin-right: 27%;
    line-height: 25px;
    margin-top: 0.5%;
    vertical-align: middle;
    text-align: center;
}