/* Background right and left */

	.background-right {
		position: fixed;
		top: 0%;
		right: 0%;
		width: 15%;
		height: 100%;
		background-image: url("img/background/library-right.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}
	
	.background-left {
		position: fixed;
		top: 0%;
		left: 0%;
		width: 15%;
		height: 100%;
		background-image: url("img/background/library-left.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}
	
/* Top Bar */
    /* Logo */ 
    .top-bar {
		overflow: hidden;
        width: 100%;
        height: 65px;
		max-height: 65px;
        background-color: #53301A;
        color: #ccb179;
        font-weight: bold;
        text-align: center;
    }

    .top-bar-logo {
        float: left;
        width: 20%;
        height: 100%;
    }

    .top-bar-logo-position { /* Position and size */
	    line-height: 65px;
		margin-left: 2%;
        display: block;
        float: left;
        width: 20%;
		min-width: 65px;
        height: 100%;
    }

    .top-bar-logo-text {
        text-align: center;
        text-decoration: none;
        color: #ccb179;
    }

    .top-bar-logo:hover {
        background-color: #522507;
    }

    /* End of Logo */

    /* Search Bar */
    
    .top-bar-search {
        float: left;
        width: 55%;
        height: 65px;
        line-height: 65px;
    }

    input[type=text] { /* Format of search bar */
        width: 50%;
        height: 40px;
        box-sizing: border-box;
        border: 3px solid #ccb179;
        font-size: 16px;
        background-color: #53301A;
		background-image: url("img/Lupa3.jpg");
		background-repeat: no-repeat;
		background-position: 10px 5px;
        padding: 1% 3% 1% 40px;
    }
    
    ::placeholder { /* Text inside Search bar */
        font-weight: bold;
        color: #ccb179;
    }

    /* End of Search Bar */

    /* Buttons of Login and Cart */
    .top-bar-buttons {
		overflow: auto;
        float: left;
        width: 20%;
        height: 65px;
        line-height: 65px;
        vertical-align: middle;
    }

    .top-bar-buttons-login {
        width: 40px;
        height: 40px;
		line-height: 65px;
        vertical-align: middle;
    }

    .top-bar-buttons-cart {
		margin-left: 10%;
        width: 40px;
        height: 40px;
		line-height: 65px;
        vertical-align: middle;
    }

    /* End of buttons */
/* End of Top Bar */

/* Menu Bar */

    .menu-bar {
        width: 100%;
        height: 115px;
        background-color: #ccb179;
    }

	.menu-bar a { /* To remove the underline of Categories */
		text-decoration: none;
	}
	
    .menu-bar-categories {
        float: left;
        width: 25%;
        height: 100%;
    }
	
	/* Drop Menu */
		.drop-menu { /* To adjust the dropdown menu */
			position: relative;
			display: block;
		}
		
		.drop-content {
			display: none;
			position: absolute;
			top: 115px; /* So it will be right under the menu */
			background-color: #ccb179;
			min-width: 60%;
			z-index: 1; /* To show itself over other items */
		}

		.drop-content-links { /*Links inside dropdown */
			padding: 3% 2%;
			color: #53301A;
			font-weight: bold;
			text-decoration: none;
			display: block;
		}
		
		.drop-content a:hover { /* Change on hover */
			background-color: #b59d66;
		}
		
		.drop-menu:hover .drop-content { /* Display the menu */
			display: block;
		}
	/* End of Drop Menu */
	
    .menu-bar-categories:hover {
        background-color: #b59d66;
    }
    
    .socialnetwork-images {
        height: 30px;
        width: 32px;
    }
    
    .images-position {
        display: block;
        margin: auto;
        margin-top: 2%;
        width: 70px;
        height: 70px;
    }

    .text-position {
        margin-top: 2%;
		margin-bottom: 1%;
        color: #53301A;
        font-weight: bold;
        text-align: center;
    }

/* End of Menu Bar */

    .space {
        width: 100%;
        height: 100%;
        background-color: #ccb179;
    }



/* Creating default margins */

body{
	margin: 0%;
    margin-left: 15%;
	margin-right: 15%;
    background-color: #efe4b0;
    font-size: 18px;
	height: 100%;
}

html {
	height: 100%;
	margin: 0%;
}

.welcome-message {
    position: absolute;
    margin: auto;
    width: 120px;
    top: 0;
    bottom: 10;
    left: 50;
    right: 0;
    margin-right: 29%;
    line-height: 25px;
    margin-top: 0.5%;
    vertical-align: middle;
    text-align: center;
}